@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --color--container:#993399;
    --color--black:#000000;
    --color--main:#202b3a;
    --color--green:#1ed760;
    --color--menu-aside:#1B1B1B;
    --color--grey:#b3b3b3;
    --color--darkgrey:#303030;
    --color--white:#ffffff;    
    font-size:16px;   
}
body{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color--main);
    font-family: 'Montserrat', sans-serif;
}
.header-container{
    width: 100%;
    background-color: var(--color--black);
}
.header-container__nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color:var(--color--black);
    font-weight: bold;
    align-items: center;
    color: var(--color--white);
    height:4.8rem;
}
.header-container__logo{
  flex-grow: 2;
}
.header-container__logo-image{
    width:10rem;
}
.header-container__nav-link{ 
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:30%;
    height: 2rem;
    border-right: 1px solid white;
    padding-right: 3rem;
}
.header-container__link{
    display: inline-block;
    padding:2rem 0;
    transition: color 0.3s ease-in-out;
}
.header-container__link:hover,.header-container__profil:hover{
   color:var(--color--green);
}
.header-container__link-container{
        width:100%;
        display: flex;
        justify-content: space-between;
}
.header-container__login{
    display: flex;
    flex-direction: row;
}
.header-container__user{
    width:2rem;
    margin: 0 1rem 0 2rem;
}
.header-container__profil{
    background-color: transparent;
    border: none;
    color: var(--color--white);
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}
.container{
    max-width: 1200px;
    width:100%;    
    color:var(--color--white);
    margin:0 auto;
}
/*----------------------------section offer ----------------*/
.section-offer{
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 5rem 1rem;   
    background-color: var(--color--container);
}
.section-offer__offer{
    width:50%;
    font-weight: 700;
}
.section-offer__title{
    font-size: 2.5rem;    
    line-height: 3.3rem;
    margin-bottom: 2rem;
}
.section-offer__text{
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.section-offer__text--box{
    display: inline-block;
    color:var(--color--main);
    padding: 0rem 0.5rem;
    background-color: var(--color--white);  
    margin-bottom: 2rem; 
}
.section-offer__button{
    display: inline-block;
    max-width: 50%;
    background-color: var(--color--black);
    color:var(--color--white);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    margin-bottom: 2rem; 
    font-size:0.9rem ;  
    transition-property: background-color, color;
    transition-duration: 0.5s; 
}
.section-offer__button:hover{
    background-color: white;
    color:var(--color--menu-aside);
   
}
.section-offer__text--small{
    font-size:0.6rem;
    line-height: 1.1rem;
    font-weight: lighter;
}
.section-offer__link{
    text-decoration: underline;
}
.section-offer__image-contain{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    width: 60%;    
}
.section-offer__image{
    width: 60%;    
}
/*-----------------------------section account nav ----------------------*/
.section-account{
    display: flex;
    flex-direction: row;
}
.section-account__nav{
    width: 35%;
}
.section-account__nav{
    background-color: var(--color--menu-aside);
}
.section-account__nav-account{
    border: 1px solid var(--color--menu-aside);
}
.section-account__link--large{
    justify-content: center;
    height: 6rem;
}
.section-account__link{
    position: relative;
    display:flex;
    align-items: center;    
    padding: 1rem 2rem;
    color:var(--color--grey);
    line-height: 1.5rem;
    border-top: 1px solid var(--color--darkgrey);
    box-shadow: var(--color--darkgrey) 1px 0.5px 1px;    
}  
.section-account__link:before{
    content:"";
    position: absolute;
    left: 0;
    height:100%;
    width: 0.5rem;
    background-color:transparent;
}
.section-account__link:hover:before{
    background-color: var(--color--green);
}
.section-account__link--large:hover::before{
    background-color: transparent;
}
.section-account__icone{
    width:9%;
    margin-right: 1.5rem;
}
.section-account__icone--large{
    width: 40%;
}
/*-----------------------------section account profil ----------------------*/

.section-account__profil{
    width:100%;
    background-color: var(--color--white);
    color:var(--color--black);
    padding: 3rem;
}
.section-account__table{
    margin-bottom: 4rem;
}
.section-account__h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
.section-account__sub-title{
    font-size: 1.4rem;
    font-weight: 700; 
    margin-bottom: 2rem;
}
.table{
    width:100%;
    margin-bottom: 1.5rem;
}
.table__lign .table__column:first-of-type{
    color:var(--color--grey);
}
.table__lign{
    height:3rem;
    border-bottom: 1px solid var(--color--grey);   
}
.table__column{
    vertical-align: middle;
}
.section-account__button{
    display: inline-block;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color--black);
    border-radius: 3rem;
    text-decoration: none;
    margin-bottom: 2rem; 
    font-size:0.9rem ;  
    transition: font-size 0.3s ease-in-out, 
}
.section-account__pub{
    width: 100%;
    border: 1px solid var(--color--grey);
    border-radius: 0.5rem;
    box-shadow: var(--color--grey) 1px 3px 10px;
    margin-bottom: 1.5rem;
}
.section-account__strong{
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: var(--color--grey);
    padding:5rem 2rem;
    margin-bottom: 3rem ; 
    border-radius: 0.5rem 0.5rem 0 0;   
}
.section-account__text{
    margin:0 0 3rem 2rem;
}
.section-account__free{
    display: block;
    font-weight: 700;
    margin-top: 4rem;
    font-size: 1.5rem;
}
/*--------------------------------- media queries ------------------------------*/

@media screen and (max-width: 950px){
    .section-offer__image {
        display: none;
    }
    .section-offer__image-contain{
        width:0;        
    }
    .section-offer__offer{
        display: flex;
        flex-direction: column;
        width:100%;
        padding:0 5rem;
    }
}
@media screen and (max-width: 770px){
    .section-offer__button{
        max-width:100%;
    }
    .section-offer__offer{
        padding:0
    }
    .section-account__nav, .header-container__nav-link{
        display:none;
    }
  
}