:root{
    --color--container:#993399;
    --color--black:#000000;
    --color--main:#202b3a;
    --color--green:#1ed760;
    --color--menu-aside:#1B1B1B;
    --color--grey:#b3b3b3;
    --color--white:#ffffff;    
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    background-color: var(--color--black);
}
.header-container__nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    background-color:var(--color--black);
    font-weight: bold;
    align-items: center;
    color: var(--color--white);
    height:4.8rem;
}
.header-container__logo{
  flex-grow: 2;
}
.header-container__logo-image{
    width:10rem;
}
.header-container__nav-link{ 
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:30%;
    height: 2rem;
    border-right: 1px solid white;
    padding-right: 3rem;
}
.header-container__link-container{
        width:100%;
        display: flex;
        justify-content: space-between;
}
.header-container__login{
    display: flex;
    flex-direction: row;
}
.header-container__user{
    width:2rem;
    margin: 0 1rem 0 2rem;
}
.header-container__profil{
    background-color: transparent;
    border: none;
    color: var(--color--white);
    font-size: 1rem;
    font-weight: bold;

}


